@mixin text-style(
  $font-family: Roboto,
  $font-size: 500,
  $line-height: 1.5em,
  $font-weight: 400,
  $color: rgb(0, 0, 0)
) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}
